@using PetNetCore.Models;
@{
    ViewData["Title"] = "ManageAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Animals</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Photo")
        </th>
        <th>
            @Html.DisplayName("Breed")
        </th>
        <th>
            @Html.DisplayName("Owner")
        </th>
        <th></th>
    </tr>

    @foreach (AnimalDto animal in (List<AnimalDto>)ViewBag.animals)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => animal.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => animal.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => animal.Description)
    </td>
    <td>
        <a href="#"><img width="75 src="~/images/@animal.Photo"></a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => animal.BreedName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => animal.Username)
    </td>
    <td>
        @Html.ActionLink("Details", "AnimalDetails", new { id = animal.Id }) |
        @Html.ActionLink("Delete", "DeleteAnimal", new { id = animal.Id })
    </td>
</tr>
    }

</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
