@using PetNetCore.Models 

@{
    ViewData["Title"] = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage User</h1>

<h1>View</h1>
<table class="table-primary" border="1" cellpadding="2" cellspacing="2">
    <tr>

        <th>Username</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>BirthDate</th>
        <th>City</th>
        <th>Phone</th>
    </tr>
    @foreach (UserDto.Register user in (List<UserDto.Register>)ViewBag.users)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.BirthDate</td>
            <td>@user.City</td>
            <td>@user.Phone</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>