@using PetNetCore.Models

@{
    ViewData["Title"] = "ManageBlogPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

}
<h2>Manage BlogPost</h2>

<table class="table">

    <tr>
        <th>
            @Html.DisplayName("Post Title")
        </th>
        <th>
            @Html.DisplayName("Post Content")
        </th>
        <th>
            @Html.DisplayName("Photo")
        </th>
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th></th>
    </tr>

    @foreach (BlogPostDto.List blogpost in (List<BlogPostDto.List>)ViewBag.blogposts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => blogpost.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blogpost.BlogContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blogpost.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blogpost.Username)
            </td>
            <td>
                @Html.ActionLink("Details", "BlogPostDetails", new { id = blogpost.Id })|
                @Html.ActionLink("Delete", "DeleteBlogPost", new { id = blogpost.Id })
            </td>
        </tr>
    }

</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>