@using PetNetCore.Entity

@{
    ViewData["Title"] = "ManageUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Animals</h2>

<table class="table">

    <tr>
        <th>
            @Html.DisplayName("Username")
        </th>
        <th>
            @Html.DisplayName("FirstName")
        </th>
        <th>
            @Html.DisplayName("LastName")
        </th>
        <th>
            @Html.DisplayName("BirthDate")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("Photo")
        </th>
        <th>
            @Html.DisplayName("Phone")
        </th>
        <th></th>
    </tr>

    @foreach (User user in (List<User>)ViewBag.users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.City)
            </td>
            {
                <td>
                    <a href="#"><img width="75" src="~/images/@user.Photo"></a>
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => user.Phone)
            </td>
            <td>
                @Html.ActionLink("Details", "UserDetails", new { id = user.Id }) | @Html.ActionLink("Delete", "DeleteUser", new { id = user.Id })
            </td>
        </tr>
    }

</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>