@using PetNetCore.Entity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<table class="table-primary" border="1" cellpadding="2" cellspacing="2">
    <tr>

        <th>Name</th>
        <th>Age</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Breed</th>
    </tr>
    @foreach (Animal animal in (List<Animal>)ViewBag.animals)
        {
    <tr>
        <td>@animal.Name</td>
        <td>@animal.Age</td>
        <td>@animal.Description</td>
        <td>@animal.Photo</td>
        <td>@animal.BreedId</td>
    </tr>
        }
</table>
