@using PetNetCore.Models;
@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h1>
    Animals for Adoption
</h1>
@foreach (AnimalDto animal in (List<AnimalDto>)ViewBag.animals)
{
    <div class="col-lg-12 col-sm-3 portfolio-item">
        <div class="card h-100">
            @if (animal.Photo != null)
            {<a href="#"><img class="card-img-top" src="~/images/@animal.Photo"></a>}
            <div class="card-body">
                <h3>
                    <td>
                        @Html.DisplayFor(modelItem => animal.Name)
                    </td>
                </h3>
                <hr />
                <p> <b>Name : </b>@Html.DisplayFor(modelItem => animal.Age)</p>
                <hr />
                <p> <b>Description :  </b> @Html.DisplayFor(modelItem => animal.Description)</p>
                <hr />
                <p> <b>Breed : </b>@Html.DisplayFor(modelItem => animal.BreedName)</p>
                <hr />
                <p> <b>Owner :  </b> @Html.DisplayFor(modelItem => animal.Username)</p>


            </div>
        </div>
    </div>
}        <dt>
    @Html.DisplayName("Photo")
</dt>