@model PetNetCore.Models.UserDto.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<div class="col-lg-12 col-sm-3 portfolio-item">
    <h2>Member</h2>

    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Role")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayName("Username")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayName("Photo")
        </dt>
        @if (Model.Photo != null)
        {
            <dd>
                <img width="75" src="~/images/@Model.Photo" />
            </dd>
        }
        <dt>
            @Html.DisplayName("Birth Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayName("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayName("Phone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Update Profile", "UpdateProfile")

    </p>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-action="ListByUserId" asp-controller="Animal">My Animals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="ListBlogPostsByUserId" asp-controller="User">My Blogposts</a>
        </li>
    </ul>
</div>